body {
    font-family: sans-serif;
}

h1, h2 {
    text-align: center;
}

.card {
    border: solid gray;
    border-radius: 12px;
    margin: 2rem;
    padding: 1rem;
}

.button {
    margin: 10px;
}

.center-content {
    display: flex;
    justify-content: center;
}

.keyword {
    color: DarkRed;
    font-weight: lighter;
    font-style: italic;
}

.faculty {
    color: DarkGreen;
    font-weight: lighter;
    font-style: italic;
}
